* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --bg-color-dark: #121214;

  --text-color: #000000;
  --text-dark-color: #ffffff;

  --buttons-light-bg-color: #E1E1E6;
  --buttons-dark-bg-color: #29292E;

  --selected-light-color: #02799D;
  --selected-dark-color: #0A3442;

  --buttons-dark-color: #C4C4CC;
  --buttons-light-color: #000000;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
}

 button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

svg path {
  fill: var(--buttons-light-color);
  
}

span {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  align-items: center;
}

.page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100svh;
}

.timerBox {
  width: 321px;
}

#timer {
  font-size: 128px;
  display: flex;
  margin-bottom: 1.6rem;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.soundControls {
  z-index: 2;
  width: 308px;
  height: 336px;
  display: grid;
  align-content: center;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.soundButton {
  border-radius: 24px;
  background-color: var(--buttons-light-bg-color);
  border: none;
  cursor: pointer;
}

.soundButton svg {
margin-top: -10px;
margin-bottom: 32px;
}


.sliderContainer {
  display: flex;
  width: 138px;
  z-index: 5;
}

.slider {
  border-radius: 20px;
  height: 4px;
  width: 66%;
  appearance: none;
  background: var(--buttons-light-color);
  margin: 0 auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--buttons-light-color);
}

.selected {
  background-color: var(--selected-light-color);
}

.soundButton.selected svg path{
  fill: #ffffff;
}

.soundButton.selected .slider,
.soundButton.selected .slider::-webkit-slider-thumb{
background: #ffffff;
}

.darkLightButtons button.darkMode, .darkLightButtons button.darkMode svg path {
  position: absolute;
  z-index: 1;
  top: 64px;
  right: 64px;

  fill: #000000;
}

.darkLightButtons button.lightMode, .darkLightButtons button.lightMode svg path {
  position: absolute;
  z-index: 1;
  top: 64px;
  right: 64px;


  fill: #ffffff;
  }

  /* dark mode */
  
  .page.darkMode {
    background-color: var(--bg-color-dark);
  }
  
  .darkMode path {
    fill: var(--buttons-dark-color);
  }
  
  .soundButton.darkMode {
    background-color: var(--buttons-dark-bg-color);
  }

  .soundButton.selected.darkMode {
    background-color: var(--selected-dark-color);
  }

svg.selected {
  background-color: transparent;
}

  span.darkMode {
    color: var(--text-dark-color);
  }
  
  button.darkMode .slider {
    border-radius: 20px;
    height: 4px;
    width: 66%;
    appearance: none;
    background: var(--buttons-dark-color);
    margin: 0 auto;
  }
  
  button.darkMode .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--buttons-dark-color);
  }