* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(0, 0%, 100%);
  --bg-color-dark: hsl(0, 0%, 0%);

  
  --text-color: #000000;
  --text-dark-color: #ffffff;
  --buttons-color: #0000ff;
  --selected-color: #02799D;
  --buttons-dark-color: #ffffff;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
}

 button {
  background-color: rgba(255, 0, 0, 0);
  border: none;
  
  cursor: pointer;
}

.hide {
  display: none;
}

.play svg path,
.pause svg path,
.set svg path,
.stop svg path,
.soundControls svg path{
  fill: var(--text-color);
  
}


span {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  align-items: center;
  
}

.page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100svh;
}

.timerBox {
  width: 321px;
  
}

#timer {
  font-size: 128px;
  
  display: flex;
  margin-bottom: 1.6rem;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

button svg {
  width: clamp(3rem, 4rem + 1vw, 5rem);
  height: clamp(3rem, 4rem + 1vw, 5rem);
}

.soundControls {

  width: 308px;
  height: 336px;
  display: grid;
  align-content: center;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.soundButton{
  border-radius: 24px;
  background-color: #E1E1E6;
  border: none;
  cursor: pointer;
}

.selected {
  background-color: #02799D;
}

.soundControls svg.selected path{
  fill: #E1E1E6;

}
